# Public Firebase configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAZjt5eNIa4SK0CwWqLynTjE4emhuW-TmI
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=fetch-ae1e1.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=fetch-ae1e1
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=fetch-ae1e1.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=198063331107
NEXT_PUBLIC_FIREBASE_APP_ID=1:198063331107:web:81bcefefc382abd1291e96
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-6YJ6RWRCLJ

# Server-only Firebase Admin configuration
FIREBASE_PROJECT_ID=fetch-ae1e1
FIREBASE_CLIENT_EMAIL=<YOUR_SERVICE_ACCOUNT_CLIENT_EMAIL>
# When setting FIREBASE_PRIVATE_KEY in environment variables, ensure newlines are escaped as \n
FIREBASE_PRIVATE_KEY=<YOUR_SERVICE_ACCOUNT_PRIVATE_KEY>
